<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo-app</title>
  </head>
  <body>
    <h2>Welcome to the todo-app!</h2>
    <img src="/get-img" alt="Hourly Image" height="200" width="200" />
    <div>
      <input type="text" maxlength="140" />
      <button>Create todo</button>
    </div>
    <ul>
      {% for todo in todos %}
      <li>{{ todo }}</li>
      {% endfor %}
    </ul>
    <p>DevOps with Kubernetes 2025</p>
  </body>
</html>
